flow.json
[{"id":"4b24743.d3b838c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"66cf837f.b0066c","type":"debug","z":"4b24743.d3b838c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":200,"wires":[]},{"id":"64dddbcb.b83d34","type":"inject","z":"4b24743.d3b838c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":140,"wires":[["66cf837f.b0066c"]]},{"id":"e6c0ba96.205718","type":"inject","z":"4b24743.d3b838c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":300,"wires":[["66cf837f.b0066c"]]}]